<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.css">
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/headerMain', {active:"Billing"}); %>
</header>

<div class="fullbody">
<div class="container" >
<main>
  <div class="myframe">
            <div class ="header">
                <h1>Billing</h1>
            </div>
            <form class = "dateForm" action="/filterByDate" method="post">
                 Start Date: <input name="startDate" type="date" />   to
                 End Date : <input name="endDate" type="date" />
                 <button type="submit">Filter Billing</button>
            </form>
        <table class="billing-table">
          <tr>
            <th>ID</th>
            <th>Pickup Location</th>
            <th>Pickup Date/Time</th>
            <th>Dropoff Location</th>
            <th>Dropoff Date/Time</th>
            <th>Rental Cost</th>
          </tr>
          <% if (reservations.length==0) { %>
            <tr >
              <td colspan="100%">No record found.</td>
            </tr>
          <% } %>
          <% for(var i=0; i < reservations.length; i++) {%>

          <tr>
            <td><%=reservations[i].res_id%></td>
            <td><%=reservations[i].pickup_loc%></td>
            <td><%=reservations[i].pickup_dt%></td>
            <td><%=reservations[i].dropoff_loc%></td>
            <td><%=reservations[i].dropoff_dt%></td>
            <td><%=reservations[i].cost%></td>
          </tr>

          <% } %>
        </table>

  </div>
</main>
</div>
</div>

</body>
</html>