<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.css">
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/headerMain', {active:"Upcoming"}); %>
</header>

<div class="fullbody">
<div class="container" >
<main>
    <h1>Edit Reservation</h1>
    <form class = "myform"  action="/edit_trip" method="post">
		<div class="editcontainer" style="height: 500px">
      
			<p><strong>Car details:</strong><br>
                Car: <%= trip.car%> <br>
                Color: <%=trip.color %> <br>
                Type: <%=trip.car_type %> <br>
                Rental price: $<%=trip.per_hour%>/hr
            </p>

            <p><strong>Pickup Information:</strong><br>
                Location: <%= trip.pickup_location%> <br>
                <label for="pickup_date">Date Time: </label>
			          <input id="pickup_date" name="pickup_date" value="<%=trip.pickup_date%>" 
                      type="datetime-local" min="<%=currdate%>" onchange="updateCost()"/> 
            </p>

            <p><strong>Dropoff Information:</strong><br>
                <label for="dropoff_location">Location: </label>
			          <select name="dropoff_location_id" id="dropoff_location_id">
                    <option value="<%=trip.dropoff_location_id%>" selected><%= trip.dropoff_location%></option>
                    <% locations.forEach(function(location){ %>
                        <option value="<%=location.Location_id%>"><%= location.location_description + ' - ' + location.full_address%></option>
                    <% }) %>
                </select><br>
                <label for="dropoff_date">Date Time: </label>
			          <input id="dropoff_date" name="dropoff_date" value="<%=trip.dropoff_date%>" 
                      type="datetime-local" min="<%=currdate%>" onchange="updateCost()" /> 
            </p>
            <input type="hidden" id="reservation_id" name="reservation_id" value="<%=trip.reservation_id%>" />
            <input type="hidden" id="per_hour" name="per_hour" value="<%=trip.per_hour%>" />
            <p>Total: $<input style="outline:none;border:none;" id="cost" name="cost" readonly value=" <%=trip.cost%>" /> </p>
            <script>
      
              function updateCost() {
                var pickup = document.getElementById('pickup_date').value.replace('T', ' ');
                var dropoff = document.getElementById('dropoff_date').value.replace('T', ' ');
                var difference = Math.abs(new Date(dropoff) - new Date(pickup)) / 36e5;
                document.getElementById('cost').value = (difference * document.getElementById('per_hour').value).toFixed(2);
              }
            </script>
			
			<button type="submit" id="editsavebtn">Save</button>
			<button type="submit" id="editcancelbtn" formaction="/edit_cancel" formnovalidate >Cancel</button>
		
		</div>
		</form>
    
  </div>
</div>
</main>
</body>

</body>
</html>
 