<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.css">
  <%- include('../partials/head'); %>
</head>
<body>

  <header>
    <%- include('../partials/headerMain', {active:"Upcoming"}); %>
  </header>
  <div class="fullbody">
    <div class="container" >
      <main>
    
        <div class ="header">
          <h1>Upcoming Trips</h1>
        </div>
        <% if(trips == "not logged in") { %>
          <p style="padding-top: 16px; text-align: center">Please log in to see upcoming trips.</p>
        <%} else if(trips == "no upcoming") { %>
          <p style="padding-top: 16px; text-align: center">No upcoming trips.</p>
        <% } else { %>
          <% trips.forEach(function(trip){ %>
            <div id="tripbox">
              <div id="tripTitleBox" class="container">
                <h4><%= trip.Make + " " + trip.Model + " " + trip.Make_Year%>
                    <form class="formnoborder" action="/edit_trip_form" method="post">
                        <input type="hidden" name="reservation_id" value="<%=trip.Reservation_id%>"/>
                        <input type="hidden" name="car_details" value="<%=trip.Make + ' ' + trip.Model + ' ' + trip.Make_Year%>"/>
                        <input type="hidden" name="car_color" value="<%=trip.Color%>"/>
                        <input type="hidden" name="car_type" value="<%=trip.Car_type%>"/>
                        <input type="hidden" name="per_hour" value="<%=trip.Rental_price_per_hour%>"/>
                        <input type="hidden" name="pickup_location" value="<%=trip.pickup_location + ' - ' + trip.pickupAddress%>"/>
                        <input type="hidden" name="pickup_date" value="<%= trip.PickUpdatetime%>"/>
                        <input type="hidden" name="dropoff_location_id" value="<%= trip.Dropoff_Location_id%>"/>
                        <input type="hidden" name="dropoff_location" value="<%= trip.dropoff_location + ' - ' + trip.dropoffAddress%>"/>
                        <input type="hidden" name="dropoff_date" value="<%= trip.DropoffDatetime%>"/>
                        <input type="hidden" name="cost" value="<%= trip.Rental_Cost%>"/>
                        <button class="icon" type="submit" ><img src="edit_button.png"></button>
                    </form> 
  
                    <form class="formnoborder" id="deleteTrip" action="/delete_trip" method="post">
                        <input type="hidden" id = "delete_res_id" name="reservation_id" value="<%=trip.Reservation_id%>" />
                        <button class="icon" type="button" onclick="onClickHandler('<%=trip.Reservation_id%>')"><img src="delete_button.png"> </button>
                    </form>
                    <script>
                      function onClickHandler(reservation_id){
                              if(window.confirm("Do you want to delete this trip? The action is irreversible.")){
                                  document.getElementById('delete_res_id').value = reservation_id;
                                  document.getElementById("deleteTrip").submit();
                              } else {
                              return;
                              }
                      }
                    </script>
                </h4>
              </div>
              <div id="tripDetailBox" class="container">
                  <p><strong>Pickup:</strong> <%= trip.pickupDateFormatted%><br>
                  <strong>Location: </strong><%= trip.pickup_location + " - " + trip.pickupAddress%> </p>
                  <p><strong>Dropoff:</strong> <%= trip.dropoffDateFormatted%><br>
                  <strong>Location: </strong><%= trip.dropoff_location + " - " + trip.dropoffAddress%> </p>
                  <p>Total cost: $<%= trip.Rental_Cost%></p>
              </div>
            </div>
        
          <% })} %>

      </main>
    </div>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
